body{
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.body-container{

    display: flex;
    justify-content: center;
    align-items: center;
   
    flex-direction: column; 
    height: 1000px;
    width: 1400px;
    background-color: #000000;
   
}
.nav-container{
    display: flex;

    
    justify-content:space-around;
    width: 500px;
}

.colorful-button {
   
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #3498db; /* Border color */
    color: #fff; /* Text color */
    background-color: #3498db; /* Background color */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth color transition */
    cursor: pointer;
  }
  .colorful-button:hover {
    background-color: #2980b9; /* New background color on hover */
  }


  .forms{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  a {
    text-decoration: none; /* Remove default underline */
    color: whitesmoke; /* Default text color */
    transition: color 0.3s ease; /* Smooth color transition */
  }

  /* Hover effect for the anchor */
  a:hover {
    color: #2980b9; /* New text color on hover */
    text-decoration: underline; /* Underline effect on hover */
    
  }

  .head-container{
    display: flex;
    padding: 20px 0px 0px 40px;

  }
  .head-container2{
    display: flex;
    padding: 40px;
  }

  
  @media screen and (max-width: 700px) {
    .body-container{
      height: 1000px;
      width: 500px;
    }
  }